
body{
    background-image: url("../img/test.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100% !important;
    width: 100% !important;


    
}
.create-section{
    background-image: url("../img/test.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto !important;
    width: 100%;
  

}

.login-section{
    background-image: url("../img/test.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100% !important;
    width: 100% !important;

}
.container{
    margin-left: 3% !important;
    margin-right: 3% !important;
}
.logo{
    margin-left: 3% !important;
    margin-right: 3% !important;

}
.renny{
    color:  #000 !important;
    background-color: #424242   !important;
    border-radius: 10px !important;
}
.btnprimary{
    background-color: #000 !important;
}

.line{
    width: 90% !important;

    height: 20px !important;
    border-bottom: 2px solid black;
    }
    
    .logincard{
        margin-left: 30px !important;
         margin-right: 30px !important; 
         border-radius: 10px !important;
    }
.nav-wrapper{
    background-color: #424242   !important;
    border-radius: 10px !important;
}